		</main>

    <footer>
      <a href="https://dijkmans-kimberly-oefweek5.herokuapp.com">Link naar heroku app</a>
			<p> © 2017 - Sylvie de Kock</p>
    </footer>

<script src="https://use.typekit.net/qlg5pys.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<script src="/js/template.js"></script>
</body>
</html>
